<ul role="combobox" width="285" class="css-1kyashn">
  <li role="option" data-testid="..." class="css-mqcwn eskgrfp5">...</li>
  <li role="option" data-testid="Desktop" class="css-mqcwn eskgrfp5">
    Desktop
  </li>
  <li role="option" data-testid="Desktop Chrome" class="css-mqcwn eskgrfp5">
    Desktop Chrome
  </li>
  <li role="option" data-testid="Desktop Edge" class="css-mqcwn eskgrfp5">
    Desktop Edge
  </li>
  <li role="option" data-testid="Desktop Firefox" class="css-mqcwn eskgrfp5">
    Desktop Firefox
  </li>
  <li role="option" data-testid="Desktop Opera" class="css-mqcwn eskgrfp5">
    Desktop Opera
  </li>
  <li role="option" data-testid="Desktop Safari" class="css-mqcwn eskgrfp5">
    Desktop Safari
  </li>
  <li role="option" data-testid="Mobile" class="css-mqcwn eskgrfp5">Mobile</li>
  <li role="option" data-testid="Mobile Android" class="css-mqcwn eskgrfp5">
    Mobile Android
  </li>
  <li role="option" data-testid="Mobile iOS" class="css-mqcwn eskgrfp5">
    Mobile iOS
  </li>
  <li role="option" data-testid="Tablet" class="css-mqcwn eskgrfp5">Tablet</li>
  <li role="option" data-testid="Tablet Android" class="css-mqcwn eskgrfp5">
    Tablet Android
  </li>
  <li role="option" data-testid="Tablet iOS" class="css-mqcwn eskgrfp5">
    Tablet iOS
  </li>
</ul>
